<!doctype html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="css/styles.css" rel="stylesheet"/>
</head>
<body>

<!--헤더쪽-->
<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-6" style="height: 400px; background-color: skyblue">
            <div class="col-lg-6 mx-auto flex-container" style="background-color: #1a738f">
                <img class="homeImage" src="../assets/img/bg-home.jpg" style="height: 400px;">
                <div class="vertical-align">
                    <h1 class="fw-light">TimeSnap</h1>
                    <button type="button" class="btn btn-primary" th:onclick="|location.href='@{/project/groupForm}'|">그룹생성</button>
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid">
        <div class="row">
            <div th:each="project : ${projectList}" th:if="${project != null}" class="col-lg-3 col-md-4 col-sm-6">
                <div class="card" style="background-color: lightskyblue;">
<!--                    <img th:src="${project.imageUrl}" class="card-img-top" alt="Project Image">-->
                    <div class="card-body">
                        <h5 class="card-title" th:text="${project.projectTitle}">Card title</h5>
                        <a href="#" class="btn btn-primary">입장하기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>

<script th:inline="javascript">
    function home() {
        const Http = new XMLHttpRequest();
        const url = "/project/list";

        Http.open('GET', url);
        Http.send();
    }
    window.onload = home;
</script>
